
body{
    background-color: rgb(52, 157, 227);
}
div{
    margin-top: 15%;
    text-align: center;
    border: 5px solid white;
    border-color: white;
    width: 25%;
    height: 40vh;
    color: rgb(0, 26, 154);
    font-style: normal;
    margin-left: 35%;
    padding-top: 30px;
    background-color: white;

}
button{
    border: 1px solid transparent;
    margin-top: 7%;
    border-radius: 30px;
}
.ButtonOne{
    color: white;
    background-color: rgb(52, 157, 227);
    height: 4vh;
    width: 27%;
}
.ButtonTwo{
    color: black;
    background-color: rgb(244, 192, 192);
    height: 4vh;
    width: 27%;
}
input{
    border-color: antiquewhite;
    border: 2px solid antiquewhite;
    height: 3vh;
    width: 75%;
    padding: 15px;
    margin: 5px;
}
input::placeholder{
    padding-left: 20px;
    font-size: large;
}
